@model IEnumerable<HWK_9.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Director_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Director_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Director_Id })
        </td>
    </tr>
}

</table>
