@model IEnumerable<HWK_9.Models.Movie>

@{
    ViewBag.Title = $"Top {Model.Count()} Movies by Gross";
    int rank = 1;
}

<h2>Top @Model.Count() Movies</h2>


<table class="table">
    <tr>
        <th>
            Rank
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gross)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imdb_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.Director_Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @rank
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @if (item.gross.HasValue)
                {
                    @item.gross.Value.ToString("C")
                }
                else
                {
                    <text>
                        $0.00
                    </text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genres)
            </td>
            <td>
                <a href="@item.movie_imdb_link">@item.movie_title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @if (item.budget.HasValue)
                {
                    @item.budget.Value.ToString("C")
                }
                else
                {
                    <text>
                        $0.00
                    </text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imdb_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.Director_Name)
            </td>
        </tr>

        rank++;
    }

</table>
